{% extends "blog/layout.html"%}
{% block head %} <title>Gesic Blog</title> {% endblock%} 
{% block body%}
	<!-- Image and text -->
	<nav class="navbar navbar-light bg-light">
	  <a class="navbar-brand" href="#">
	    <!--<img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">-->
	    Gesic
	  </a>
	</nav>
	<h1>Bienvenidos a Gesic Blog</h1>
	<h2>Aquí tienes una lista de los posts creados por nuestras profesionales</h2>
	<div class="main-wrapper">
		<section class="blog-list px-3 py-5 p-md-5">
			<div class="container">
				{% for p in posts%}
					    <div class="item mb-5">
						    <div class="media">
						    	{% load static %}
                              	<img src="{% static 'images/image.jpg' %}" class="mr-3 img-fluid post-thumb d-none d-md-flex" alt="My image">
							    <!--<img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="assets/images/blog/blog-post-thumb-1.jpg" alt="image">-->
							    <div class="media-body">
								    <h3 class="title mb-1"><a href="blog-post.html">{{p.title}}</a></h3>
								    <div class="meta mb-1"><span class="date">Published 2 days ago</span><span class="time">5 min read</span><span class="comment"><a href="#">8 comments</a></span></div>
								    <div class="intro">{{p.intro}}</div>
								    <h6>autor: {{p.author}}</h6>
								    <a class="more-link" href="blog-post.html">Read more &rarr;</a>
							    </div><!--//media-body-->
						    </div><!--//media-->
						</div><!--//item-->
				{% endfor %}
			</div><!--//container-->
		</section>
	</div>
{% endblock%}