{% extends "blog/layout.html"%}
{% block head %} <title>Gesic Blog</title> {% endblock%} 
{% block body%}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('../static/img/home-bg2.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Gesic Blog</h1>
            <span class="subheading">Mediacion & Negociación</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
      {% if posts %}
        {% for p in posts %}
        <div class="post-preview">
          <a href="{% url 'blog:article' identificador=p.id %}">
            <h2 class="post-title">
              {{p.title}}
            </h2>
            <h3 class="post-subtitle">
              {{p.intro}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{p.author}}</a>
            on {{p.created_date}}</p>
        </div>
        <hr>
        {% endfor %}
      {% else %}
        <h3>No hay entradas en el blog aún</h3>  
      {% endif %}
        <!-- Pager -->
        <!--<div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>-->
      </div>
    </div>
  </div>
  <hr>
{% endblock%}